Source: wasta-xfce-lite-xenial
Section: utils
Priority: extra
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/wasta-linux/wasta-xfce-lite-xenial

Package: wasta-xfce-setup-lite
Architecture: all
Depends: wasta-xfce-common-xenial, ${shlibs:Depends}, ${misc:Depends}
Conflicts: wasta-xfce-xenial
Replaces: wasta-xfce-xenial
Description: Wasta-Linux XFCE Lite
 Setup Wasta-Linux XFCE desktop with "lite" settings. Compositor is turned off
 and other plugins, etc., chosen for lower performance machines. Most
 dependencies and configuration is in wasta-xfce-common.
